
<%= form_for @attrib, :html => { :class => "form-horizontal attrib" } do |f| %>

    <% if @attrib.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@attrib.errors.count, "error") %> prohibited this attrib from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @attrib.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :system_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :system_id, :class => 'form-control' %>
    </div>
    <%= error_span(@attrib[:system_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@attrib[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :type, :class => 'form-control' %>
    </div>
    <%= error_span(@attrib[:type]) %>
  </div>
  <div class="control-group">
    <%= f.label :extra, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :extra, :class => 'form-control' %>
    </div>
    <%= error_span(@attrib[:extra]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              system_attribs_path(@attrib.system_id), :class => 'btn btn-default' %>

<% end %>
