<%- model_class = Attrib -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:system_id) %>:</strong></dt>
  <dd><%= @attrib.system_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @attrib.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @attrib.type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:extra) %>:</strong></dt>
  <dd><%= @attrib.extra %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            system_attribs_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            system_attribs_path(@attrib.system_id), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            system_attribs_path(@attrib.system_id),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
