<%
   # TODO: arreglar esto que esta feo
   if @patient.new_record?
     path_to_send = system_patients_path(system_id:@patient.system_id)
   else
     path_to_send = system_patient_path(system_id:@patient.system_id, id:@patient.id)
   end
%>

<%- model_class = Patient -%>

<%= form_for @patient, url: path_to_send, :html => { :class => "form-horizontal patient" } do |f| %>

  <% if @patient.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :system_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :system_id, :class => 'form-control' %>
    </div>
    <%= f.label :code, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :code, :class => 'form-control' %>
    </div>
  </div>

    <dl class="dl-horizontal">
      <% @system_attributes.each do |attr| %>
          <dt><strong><%= model_class.human_attribute_name(attr.name) %>:</strong></dt>
          <dd>
            <%
               if @patient.new_record?
                 input_value = ""
               else
                 input_value = attr.value
               end
            %>
            <!--<label for="attr" class="control-label col-lg-2"></label>-->
            <input class="form-control" id="<% attr.attrib_id %>" name="<%= attr.name %>" type="<%= attr.attr_type %>" value="<%= input_value %>">
          </dd>
      <% end %>
    </dl>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  system_patients_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
