<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @system.description %>
</p>


<%= content_for :sidebar do %>
    <li><%= link_to t('.edit'), edit_system_path(@system) %></li>
    <li><%= link_to t('.attributes'), system_attribs_path(@system) %></li>
    <li><%= link_to t('.patients'), system_patients_path(@system) %></li>
    <li><%= link_to t('.back'), systems_path %></li>
<% end %>
