<%= form_for @nomenclator, :html => { :class => "form-horizontal nomenclator" } do |f| %>

  <% if @nomenclator.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@nomenclator.errors.count, "error") %> prohibited this nomenclator from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @nomenclator.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control', placeholder: "Enter the name of the new Nomenclator" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'col-sm-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control', placeholder: "Enter a description for the new Nomenclator" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nomenclators_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
